

<div *ngFor="let item of ProductBrand" class="col-md-3  m-2 bg-opacity-100 cs-bg cs-border">
  <div class="text-center">
     <span class="text-cs">{{item.productType.name}}</span>
  </div>
  <div class="text-center">
    <span class="text-secondary nt-borderbottom">{{item.name}}</span>
  </div>
  <div class="text-center">
    <img src="../../assets/{{item.pictureUrl}}" class="img-responsive"/>
  </div>
   <p class="text-center csfont">{{item.description}}</p>
  <div class="text-center ">
    <span class="text-secondary nt-borderbottom">{{item.price}}</span>
  </div>
  <div class="text-center">
    <span class="text-cs">{{item.productBrand.name}}</span>
  </div>

</div>
