/* You can add global styles to this file, and also import other style files */
body{
  margin:0px;
  padding: 0px;
}

@font-face{
  font-family: 'Courier New', Courier, monospace;
  src: url('./assets/fonts/IranianSans.ttf') format('truetype');
}
