/* You can add global styles to this file, and also import other style files */
body{
  margin:0px;
  padding: 0px;
  font-family:IRANSans;
  background-color: #f1f1f1;
}

@font-face{
  font-family: IRANSans;
  src: url('./assets/fonts/IranianSans.ttf') format('truetype');
}
