:host{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cs-border{
  border-radius: 7px;
  a{
    text-decoration: none;
    cursor: pointer;
  }
  .csfont{
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
  }

}
.cs-bg{
  background-color: #cdcdcd;
}
.text-center{
  span{
    font-size: 14px;
    color: white;
    &:hover{
        color: red;
        border-bottom: 1px solid #ff0000;
    }
  }
  .nt-borderbottom{
    &:hover{
      border-bottom: none;
    }
  }

  img{
    width: 100%;
  }

}
.text-center:nth-child(6){
  margin:7px;
}
