
<div class="container">
  <div class="row m-3 justify-content-end">
    <form>
      <div class="form-group m-1">
        <label>: اسم خود را وارد کنید</label>
        <input type="text" class="form-control" name="Name">
      </div>
      <div class="form-group m-1">

        <label> : فامیلی خود را وارد کنید</label>
        <input type="text" class="form-control" name="family">
      </div>
      <div class="form-group m-1">

        <label> : ایمیل خود را وارد کنید</label>
        <input type="text" class="form-control" name="email">
      </div>
      <div class="form-group justify-content-center my-2">
        <button type="submit" class="btn btn-success  justify-content-center">ارسال</button>
      </div>
    </form>
  </div>
</div>
