<div class="container">
  <div class="col-sm-12 col-md-12 col-lg-12 mx-3 justify-content-center cs-width100">
    <div class="col-sm-12 col-md-6 col-lg-12"></div>
    <form class="col-sm-12 col-md-6 col-lg-12">
      <div>
        <img src="../../assets/Logo.png" class="img-responsive"/>
      </div>
      <div class="text-danger text-right"><span> ثبت نام </span></div>
      <div class="text-right my-1 text-danger"><span  >لطفا اطلاعات خود را وارد نمایید </span></div>
      <div class="form-group my-1">
        <label class="control-label text-secondary">: اسم خود را وارد کنید</label>
        <input type="text" class="form-control" name="Name">
      </div>
      <div class="form-group my-1">

        <label class="control-label text-secondary"> : کلمه عبور خود را وارد کنید</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="form-group my-1">
        <label class="control-label text-secondary"> : ایمیل خود را وارد کنید</label>
        <input type="email" class="form-control" name="email">
        <div class="text-danger text-right my-2">
          <span>لطفا این قسمت را خالی نگذارید</span>
        </div>
      </div>
      <div class="form-group justify-content-center my-2">
        <button type="submit" class="btn btn-success  justify-content-center">ارسال</button>
      </div>
    </form>
    <div class="col-sm-12 col-md-6 col-lg-12"></div>

  </div>
</div>
