:host{
  padding:8px;
}
.container{
  .cs-width100{

    form{
      border: 1px solid #bdbbbb;
      border-radius: 7px;
      background: #f5f9f9;
      padding: 10px;
      margin: 0 auto;
      .text-right{
        text-align:right;
      }
      img{
        width: 100%;
        height: 150px;
        padding-top: 10px;
      }
      label{
        width:100%;
        text-align: right;
        margin: 5px;
      }

      button{
        text-align: center;
        width: 20%;
        margin: 0 auto;
        display: block;
      }
    }
  }
}
@media screen and (min-width: 376px) {
  .container{
    .cs-width100{

          form{

          }
    }
  }
}
